.btn-link {
  margin-top: 1.3rem;
  font-size: 1.4rem;
  color: #ffffff;
  width: 90%;
  border-radius: 0.25rem;
}

.btn-link:hover {
  background: #002c7442;
  color: rgb(35, 138, 255);
  cursor: pointer;
}

a {
  text-decoration-line: none;
}
