input[type="text"] {
  /* margin: 0 auto; */
  width: 550px;
  height: 50px; /*20231220 - smlee: 40px → 50px 수정*/
  font-size: 15px;
  border: 0;
  border-radius: 3px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}
