input[type="text"] {
  /* margin: 0 auto; */
  width: 550px;
  height: 50px; /*20231220 - smlee: 40px → 50px 수정*/
  font-size: 15px;
  border: 0;
  border-radius: 3px;
  border: px solid #686868;
  margin: 0 auto;
  color: #eff1f5;
  margin-right: 20px; /*20240116 - smlee: 신규 추가 */
  background-color: rgba(104, 104, 104, 0.459);
}
