.page-number-selector {
  display: inline-block;
  margin-left: 455px; /*20240117 smlee: 신규 추가 */
  /* width: 70%; */
  /* display: flex; */
}

.page-number-not-select {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.5;
}

.page-number-select {
  margin-left: 10px;
  margin-right: 1px;
}

/*페이징 관련 CSS*/
.pageButtonArea {
  /* display: block; */
  text-align: center;
  /* width: 100%; */
}

/* 20240117 smlee: 신규 추가*/
.btn-next {
  margin-right: 70px;
}
