.page-number-selector {
  background-color: #000000;
  width: 70%;
  display: flex;
}

.page-number-not-select {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.5;
}

.page-number-select {
  margin-left: 10px;
  margin-right: 10px;
}

/*페이징 관련 CSS*/
.pageButtonArea {
  display: block;
  text-align: center;
  width: 100%;
}

.pageButtonArea a {
  color: rgb(255, 255, 255);
  float: none;
  font-size: 20px;
  padding: 8px 16px;
  text-decoration-line: none;
}
