.table-area {
  width: 100%;
  max-height: calc(var(--contents-height) - 120px);
  min-height: calc(var(--contents-height) - 140px);
  overflow: auto; /*20231219 - smlee: 스크롤바 CSS 추가*/
  overflow-y: scroll;
}

table,
td,
th {
  border: 1px solid #eff1f5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  width: 50ppx;
  /*div와 표 사이 간격 제거*/
}

.project-table {
  text-align: center;
  width: 80%;
  margin: auto;
  /* margin-top: 15px;
  margin-bottom: 15px; */
}

tr.protr {
  background-color: #ffffff;
  height: 35px;
  font-size: 1rem; /* 20231219 - smlee: 0.9 rem → 1rem 값 추가*/
  font-weight: 500; /* 20231219 - smlee: font-weight 값 추가 */
  /* color: black; */
}

td.protd {
  border: 1px solid #ced0d4;
}

table.project-table tr.protr:hover {
  background-color: #ffffffc7;
}

td {
  color: black;
}

th {
  height: 30px;
}

th.check-box-th {
  width: 3%;
  background-color: #333f50a9;
  color: white;
  font-size: 1rem;
  font-weight: 600; /* 20231219 - smlee: font-weight 값 추가*/
  padding-top: 10px;
}

th.project-name-th {
  width: 70%;
  background-color: #333f50a9;
  color: white;
  font-size: 1rem;
  font-weight: 600; /* 20231219 - smlee: font-weight 값 추가*/
  padding-top: 10px;
}

th.project-code-th {
  width: 9%;
  font-weight: 600; /* 20231219 - smlee: font-weight 값 추가*/
  background-color: #333f50a9;
}

th.user-name-th {
  font-weight: 600; /* 20231219 - smlee: font-weight 값 추가*/
  background-color: #333f50a9;
}

th.date-th {
  width: 10%;
  background-color: #333f50a9;
  font-size: 1rem;
  font-weight: 600; /* 20231219 - smlee: font-weight 값 추가*/
  padding-top: 10px;
  color: white;
}

.inputCheckbox {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

/*20231219 - smlee: 스크롤바 CSS 추가 Start*/
.table-area::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
.table-area::-webkit-scrollbar-thumb {
  background-color: #ffffff4b;
}
.table-area::-webkit-scrollbar-track {
  background-color: #ffffff2a;
}
/*20231219 - smlee: 스크롤바 CSS 추가 End*/
