.table-area {
  width: 100%;
  max-height: calc(var(--contents-height) - 120px);
  min-height: calc(var(--contents-height) - 140px);
  overflow-y: scroll;
}

table,
td,
th {
  border: 1px solid #f1f5f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  width: 50ppx;
  /*div와 표 사이 간격 제거*/
}

.project-table {
  text-align: center;
  border: 1px solid #f1f5f923;
  width: 80%;
  margin: auto;
  /* margin-top: 15px;
  margin-bottom: 15px; */
}

tr.protr {
  background-color: rgba(255, 255, 255, 0.849);
  border: 1px solid rgb(172, 172, 172);
  height: 35px;
  font-size: 0.9rem;
  color: black;
}

td.protd {
  border: 1px solid rgb(172, 172, 172);
}

table.project-table tr.protr:hover {
  background-color: rgba(255, 255, 255, 0.623);
}

td {
  color: black;
}

th {
  height: 30px;
}

th.check-box-th {
  width: 3%;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  padding-top: 10px;
}

th.project-name-th {
  width: 70%;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  padding-top: 10px;
}

th.date-th {
  width: 10%;
  background-color: #000000;
  font-size: 1rem;
  padding-top: 10px;
  color: white;
}

th.project-code-th {
  width: 9%;
}

.inputCheckbox {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
