.main-containter {
  display: flex;
}

.table-container {
  width: 80%;
  height: 100%;
  background-color: #000000;
  color: white;
  /* display: flex; */
  /* 체크 시, 프로젝트 코드 색상*/
}

.submit-container {
  margin: auto;
  width: 70%;
  margin-top: 30px;
}

.select-check-container {
  width: 20%;
}

.table-control-area {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 6px;
}
