.main-containter {
  display: flex;
}

.table-container {
  width: 1500px; /* 20240117 smlee: 85% → 1500 수정*/
  height: 100%;
  color: #eff1f5;
}

.submit-container {
  margin: auto;
  width: 70%;
  margin-top: 30px;
}

.select-check-container {
  width: 15%;
  /* test overflow 1206 */
  display: flex;
}

/*
.table-control-area {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5px;   
} 20240117 smlee: 주석처리*/
