.header-style {
  background-color: #a3b1c5;
  height: var(--header-height);
  margin: 0;
  padding: 0;
  border-bottom: 1px solid white;
}

/*상단 마크애니 로고*/
.markanyLogo {
  width: 110px;
  margin-top: 20px;
  margin-left: 20px;
}
