.side-navigator {
  background-color: rgba(20, 26, 31, 0.842);
  border-right: 1px solid rgb(157, 168, 183);
  width: 230px;
  flex-shrink: 0;
  height: calc(100vh - var(--header-height) - var(--line-border));
}
